.container {
  width: 300px;
  margin: 40px; /* Espaço a partir do topo e da esquerda */
  font-family: Arial, sans-serif;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 70%;
  box-sizing: border-box;
}

button {
  padding: 10px;
  width: 30%;
  background-color: #d3d1d1;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #acacacd7;
}

label {
  display: block;
  margin-top: 15px;
}
